
<section id="keyvisual">
    <picture>
        <source media="(min-width: 960px)" srcset="assets/img/hero.jpg">
        <img src="assets/img/hero_m.jpg" alt="SARA y ASAF">
    </picture>

    <div id="container">
        <h1>SARA <span>&</span> ASAF</h1>
        <time id="date" datetime="2024-04-06" >04 ∙ 06 ∙ 24</time>
        <div id="place"> <span>L</span>A <span>T</span>EBAIDA , <span>Q</span>UINDÍO <span>|</span> LA <span>H</span>ERENCIA <span>H</span>OTEL</div>
        <time id="time"><span>4:00</span> PM</time>
    </div>
    
</section>
<app-menu-alianza></app-menu-alianza>

<section id="invitacion" class="two-columns">
    <div class="box-1">
        <div class="content">
            <img src="/assets/img/grafico_05.png"  class="deco top-right">
            <img src="/assets/img/grafico_07.png"  class="deco bottom-left">
            <h1>¡Querida Familia
                & Amigos!</h1>

            <p>Llega un momento muy anhelado en nuestras
                vidas, y queremos que lo vivas a nuestro lado.
                Después de 4 años y medio de constancia, risas,
                crecimiento y amor. Nos complace invitarlos
                a celebrar con nosotros el próximo capítulo
                de nuestra historia.</p>

                
        </div>
    </div>
    <div class="box-2">
        <img src="/assets/img/invitacion/fami-amigos.jpg" alt="Familia y amigos">
        
    </div>
</section>

<section id="fecha">
    
</section>

<section id="lugar">
    
</section>

<section id="playlist">
    
</section>

<section id="tumirada">
    
</section>

<section id="etiqueta">
    
</section>

<section id="regalos">
    
</section>

<section id="example">
    <h1>H1 NT SEAWAVE standart 70px</h1>
    <h2>H2 MONTSERRAT REGULAR 30PX</h2>
    <h3>H3 MONTSERRAT MEDIUM</h3>
    <p>ParagraphMontserrat Light
        Nummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullam-
        corper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

</section>

