<section id="keyvisual">
    <picture>
        <source media="(min-width: 960px)" srcset="assets/img/hero.jpg">
        <img src="assets/img/hero_m.jpg" alt="SARA y ASAF">
    </picture>

    <div id="container">
        <h1>SARA <span>&</span> ASAF</h1>
        <time id="date" datetime="2024-04-06">04 ∙ 06 ∙ 24</time>
        <div id="place"> <span>L</span>A <span>T</span>EBAIDA , <span>Q</span>UINDÍO <span>|</span> LA
            <span>H</span>ERENCIA <span>H</span>OTEL</div>
        <time id="time"><span>4:00</span> PM</time>
    </div>

</section>
<app-menu-alianza></app-menu-alianza>

<section id="invitacion" class="two-columns">
    <div class="box-1">
        <div class="content">
            <img src="assets/img/grafico_05.png" class="deco top-right">
            <img src="assets/img/grafico_07.png" class="deco bottom-left">
            <h1>¡Querida Familia
                & Amigos!</h1>

            <p>Llega un momento muy anhelado en nuestras
                vidas, y queremos que lo vivas a nuestro lado.
                Después de 4 años y medio de constancia, risas,
                crecimiento y amor. Nos complace invitarlos
                a celebrar con nosotros el próximo capítulo
                de nuestra historia.</p>


        </div>
    </div>
    <div class="box-2">
        <img src="assets/img/invitacion/fami-amigos.jpg" alt="Familia y amigos">
    </div>
</section>

<section id="fecha" class="one-column">
    <div class="box">
        <div class="content">
            <h1>Separa La Fecha</h1>
            <video controls src="assets/video/reserva.mp4" poster="assets/img/fecha/video_poster.jpg"></video>
        </div>
    </div>

</section>

<section id="lugar" class="two-columns">

    <div class="box-2">
        <img src="assets/img/lugar/fecha_d.jpg" alt="Fecha y Ubicación">
    </div>
    <div class="box-1">

        <div class="content">
            <img src="assets/img/grafico_04.png" class="deco top-right">
            <img src="assets/img/grafico_03.png" class="deco bottom-left">

            <h1>Fecha & Ubicación</h1>

            <h2>6 DE ABRIL DE 2024</h2>
            <h3>LA TEBAIDA, QUINDÍO | LA HERENCIA HOTEL <br>
                4:00 PM</h3>

            <p>Ceremonia y recepción se llevarán a cabo
                en un lugar mágico, compartimos su ubicación
                aquí para comenzar a soñar con el día
                que está por venir.</p>

            <a class="btn-wedding btn-style-1">VER UBICACIÓN</a>
        </div>
    </div>

</section>

<section id="cuenta" class="one-column">
    <div class="box">
        <div class="content">
            <h1>Cuenta Regresiva</h1>
            <div class="countdown">
                <div class="days">
                    <div class="number">{{days}}</div>
                    <div class="text">DÍAS</div>
                </div>
                <div class="hours">
                    <div class="number">{{hours}}</div>
                    <div class="text">HORAS</div>
                </div>
                <div class="minutes">
                    <div class="number">{{minutes}}</div>
                    <div class="text">MINUTOS</div>
                </div>
            </div>

            <h2>¡LA EMOCIÓN ESTA EN EL AIRE!</h2>

            <p><strong>Les invitamos a unirse a nuestra cuenta regresiva especial aquí mientras
                    anticipamos el gran día al ritmo de nuestra canción favorita.</strong></p>

            <a class="btn-wedding btn-style-3" target="_blank"
                href="https://drive.google.com/drive/folders/1UGImbqpJmPjW9YkJtUBkqhEhXobP5O7N?usp=sharing">
                TOCAR CANCIÓN</a>
        </div>
    </div>
</section>


<section id="confirma" class="one-column">
    <div class="box">
        <div class="content">
            <h1>Confirmanos tu Asistencia</h1>

            <p><strong>Queremos que formen parte de cada momento especial,
                    aquí podrás confirmar tu asistencia.</strong></p>
            <p>Gracias por compartirnos tu información
                para mantenernos en contacto.</p>

            <a class="btn-wedding btn-style-2" target="_blank"
                href="https://docs.google.com/forms/d/e/1FAIpQLScrTh1mODzWsuqLcpTrP1E7yKQSZ8weBCQGvJT0TP_RuwJmJw/viewform?usp=sf_link">
                CONFIRMAR ASISTENCIA</a>
        </div>
    </div>

</section>

<section id="playlist" class="one-column">
    <div class="box">
        <div class="content">
            <h1>Déjense llevar por la emoción</h1>
            <h2>& LA MAGIA QUE NOS ESPERA!</h2>
            <div class="content-playbox">
                <img src="assets/img/grafico_02.png" class="deco bottom-left">
                <img src="assets/img/grafico_01.png" class="deco top-right">
                <div class="playbox">
                    <img src="assets/img/playlist/piano.jpg">
                    <div>
                        <p><strong>Te compartimos esta Playlist con la que
                                nos estamos preparando para el día de
                                nuestra boda. Prepárate para agradecer,
                                reír, llorar y bailar.</strong></p>
                        <a class="btn-wedding btn-style-3" target="_blank"
                            href="https://open.spotify.com/embed/playlist/554dSYJ4dchQ5JrfcLZ8vp?utm_source=generator">
                            PLAYLIST S&A</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="mirada" class="one-column">
    <div class="box">
        <div class="content">
            <h1>Compartenos tu Mirada</h1>

            <p>¿Listos para revivir esos momentos inolvidables? Comparte tus fotos de la boda y celebremos juntos este
                día tan especial. 📸✨ Utiliza el hashtag <strong>#ParaTodaLaVidaSxA</strong> y deja que tu amor inspire
                a otros. 💑🎉 ¡Cada imagen cuenta una historia, y la tuya merece ser contada!"</p>

            <a class="btn-wedding btn-style-2" target="_blank" href="">
                COMPARTIR FOTOS</a>
        </div>
    </div>
</section>

<section id="etiqueta" class="two-columns">

    <div class="box-1">
        <img src="assets/img/grafico_06.png" class="deco top-left">
        <div class="content">
            <h1>Dress Up</h1>

            <h2>ESTILO BOHO CHIC</h2>
            <p><strong>Nos encantaría que se unieran al espíritu boho chic
                    para la ocasión</strong></p>

            <p>En La Tebaida, el sol abraza con fuerza, les invitamos
                a vestir prendas frescas y ligeras. La calidez del
                entorno nos anima a disfrutar de este día especial
                con comodidad y estilo.</p>
            <p>Optar por telas livianas y colores suaves no solo hará
                que se sientan más frescos, sino que también añadirá
                un toque de elegancia relajada a nuestra celebración.
                Estamos emocionados de compartir este día
                con ustedes y queremos que se sientan cómodos
                mientras creamos recuerdos inolvidables juntos.</p>

            <p> <strong>Inspírese en nuestro tablero de Pinterest
                    para ideas y sugerencias.</strong> </p>

            <a href="https://pin.it/6utuXXH" target="_blank" class="btn-wedding btn-style-1">VER INSPIRACIÓN</a>
        </div>
    </div>

    <div class="box-2">
        <img src="assets/img/etiqueta/dressup_d.jpg" alt="Dress Up">
    </div>

</section>

<section id="regalos" class="two-columns">

    <div class="box-2">

    </div>
    <div class="box-1">
        <div class="content">
            <h1>Regalos</h1>

            <p><strong>Queridos familiares y amigos,</strong>
                Su presencia es el mejor regalo, pero si desean contribuir
                a nuestro nuevo hogar, les agradecemos de corazón.
                Tendremos estas opciones que pensamos para su comodidad:
            </p>

            <div class="galeria">
                <carousel>
                    <slide>
                        <div class="text-center py-5 text-white">
                            <h2><strong>LISTA DE REGALOS:</strong></h2>
                            <div class="lead">
                                <p>Encuentren nuestra lista de regalos en <a target="_blank" href="http://www.noviosfalabella.com.co"><strong>noviosfalabella.com.co</strong></a> 
                                    con el código <strong>386736-06</strong> y únanse a nosotros en
                                    la construcción de este próximo capítulo de nuestra vida.
                                    Las compras pueden realizarse de dos maneras:</p>
                                
                                <p><strong>• Presencialmente:</strong> En cualquier punto físico de Falabella.</p>
                                <p><strong>• Vía WhatsApp:</strong> Utilizando el siguiente enlace a través
                                    del cual podrás hacer la compra de los productos
                                    refiriendo el código <strong>386736-06</strong>.</p>
                            </div>
                        </div>
                    </slide>

                    <slide>
                        <div class="text-center py-5 text-white">
                            <h2><strong>LLUVIA DE SOBRES:</strong></h2>
                            <div class="lead">
                                <p>Para aquellos que prefieran esta opción, también estaremos
                                    agradecidos por cualquier contribución en nuestra
                                    "Lluvia de Sobres".</p>
                            </div>
                        </div>
                    </slide>
                    <slide>
                        <div class="text-center py-5 text-white">
                            <h2><strong>TRANSFERENCIA <br> DAVIVIENDA O NEQUI</strong></h2>
                            <div class="lead">
                                <p>Para mayor comodidad, también aceptamos regalos a través
                                    de transferencia Davivienda o Nequi. Pueden transferir
                                    al numero <strong>3193842965</strong> o realizar la transferencia
                                    Banco Davivienda a Número de cuenta <strong>488423093357</strong>
                                    Cuenta de ahorros Sara Sánchez.</p>
                            </div>
                        </div>
                    </slide>
                    
                </carousel>
            </div>

            <p class="mt-3">Muchas gracias estamos emocionados de compartir
                este momento único con todos ustedes.</p>


        </div>
    </div>


</section>

<section id="gracias" class="one-column">
    <div class="box">
        <div class="content">
            <h1>LES AGRADECEMOS</h1>
            <h2><strong>POR SEPARAR ESTE DÍA <br>
                    Y DISFRUTARLO A NUESTRO LADO.</strong></h2>

            <p>
                Por favor confirmen su asistencia <strong>antes del 6 de Marzo</strong>
                para ayudarnos a organizar una boda linda y memorable.
            </p>
            <p>Con seguridad su presencia hará <br>
                que este día sea aún más especial.</p>

            <img src="assets/img/gracias/gracias_d.png" alt="SARA & ASAF">
            <p class="mt-0"><strong>Con amor y gratitud,</strong></p>
            <h1>SARA & ASAF</h1>
        </div>
    </div>

</section>