<section id="keyvisual">
    <picture>
        <source media="(min-width: 960px)" srcset="assets/img/hero.jpg">
        <img src="assets/img/hero_m.jpg" alt="SARA y ASAF">
    </picture>

    <div id="container">
        <h1>SARA <span>&</span> ASAF</h1>
        <time id="date" datetime="2024-04-06" >04 ∙ 06 ∙ 24</time>
        <div id="place"> <span>L</span>A <span>T</span>EBAIDA , <span>Q</span>UINDÍO <span>|</span> LA <span>H</span>ERENCIA <span>H</span>OTEL</div>
        <time id="time"><span>4:00</span> PM</time>
    </div>
    
</section>

<section id="invitacion">

</section>

<section id="fecha">
    
</section>

<section id="lugar">
    
</section>

<section id="playlist">
    
</section>

<section id="tumirada">
    
</section>

<section id="etiqueta">
    
</section>

<section id="regalos">
    
</section>

