@font-face {
    font-family: 'NT SEAWAVE standart';
    src: url('NTSEAWAVE.woff2') format('woff2'),
        url('NTSEAWAVE.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

