@import 'assets/fonts/NTSEAWAVE/stylesheet.css';
@import 'assets/fonts/Montserrat/stylesheet.css';

// VARIABLES //
$color-0: #fff;
$color-1: #4E5243;
$color-2: #909380;
$color-3: #9F6F53;
$color-4: #CFAC8E;
$color-5: #DDD4C4;

$font-1: 'NT SEAWAVE standart', Helvetica, Arial, sans-serif;
$font-2: 'Montserrat', Helvetica, Arial, sans-serif;
$font-3: 'Montserrat-Medium', Helvetica, Arial, sans-serif;
$font-4: 'Montserrat-Light', Helvetica, Arial, sans-serif;

$font-size-sm: clamp(0.8rem, 0.1vw + 0.78rem, 0.89rem);
$font-size-base: clamp(1rem, 0.2vw + 0.95rem, 1.19rem);
$font-size-md: clamp(1.25rem, 0.35vw + 1.16rem, 1.58rem);
$font-size-lg: clamp(1.56rem, 0.58vw + 1.42rem, 2.11rem);
$font-size-xl: clamp(1.95rem, 0.9vw + 1.73rem, 2.81rem);
$font-size-xxl: clamp(2.44rem, 1.38vw + 2.1rem, 3.75rem);
$font-size-xxxl: clamp(3.05rem, 2.05vw + 2.54rem, 5rem);

$gap: clamp(1rem, 0.94rem + 0.30000000000000004vw, 1.3rem);

// GLOBAL STYLES //
html { scroll-behavior: smooth; }

body { margin: 0; }

h1 {
    font-family: $font-1;
    font-size: $font-size-xxxl;
    font-weight: 100;
    margin: 0;
}

h2 {
    font-family: $font-2;
    font-size: $font-size-lg;
}

h3 {
    font-family: $font-3;
    font-size: $font-size-md;
    color: $color-4;
}

p {
    font-family: $font-4;
    font-size: $font-size-base;
}

section {
    position: relative;
}

img {display: block; width: 100%;}

//BOTONES
a.btn-wedding {
    display: inline-block;
    padding: 15px 20px;
    margin-top: 5vh;
    font-family: $font-2;
    font-weight: bold;
    background-color: transparent;
    border: solid 2px $color-4;
    border-radius: 30px;
    font-size: $font-size-base;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
        background-color: $color-4;
        color: $color-0;
    }

}

a.btn-style-1 { color: $color-4;}
a.btn-style-2 { 
    color: $color-0;
    border-color: $color-0;

    &:hover {
        background-color: transparent;
    }
}

a.btn-style-3 { 
    color: initial;
    border-color: $color-0;
    background-color: $color-0;

    &:hover {
        background-color: $color-0;
        color: initial;
        opacity: 0.8;
    }
}

// SECTION TWO COLUMS DEFATULT //
$deco-height: 13vh;
$deco-v-offset: -5vw;
$deco-h-offset: -5vh;

section.one-column {
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 70px;
    padding: 10vh 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .box {
        flex: 0 1 90%;
        text-align: center;

        @media all and (min-width: 1200px) { flex: 0 1 80%; }
    }
}

section.two-columns {
    display: flex;
    flex-wrap: wrap;
    scroll-margin-top: 70px;

    .box-1 {
        flex: 1 1 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media all and (min-width: 1200px) { flex: 1 1 55%; }

        .content {
            margin: 8vh;
            text-align: center;
            position: relative;

            @media all and (min-width: 1200px) { margin: 10vh 15vh; }

            h1 { margin-bottom: 5vh; }

            img.deco {
                position: absolute;
                width: auto;
                height: $deco-height;
                z-index: -9;
            }

            img.top-right {
                top: $deco-v-offset;
                right: $deco-h-offset;

                @media all and (min-width: 1200px) { 
                    right: $deco-h-offset;
                }
            }

            img.bottom-left {
                bottom: $deco-v-offset;
                left: $deco-h-offset;  
                height: $deco-height - 8vh; 
                
                @media all and (min-width: 1200px) { 
                    left: $deco-h-offset; 
                }
            }
        };
    }

    .box-2 {
        flex: 1 1 100%;
        @media all and (min-width: 1200px) { flex: 1 1 45%; }
    }
}



// SECTION KEYVISUAL //

section#keyvisual {
    color: $color-0;
    img {
        width: 100%;
    }

    #container {
        position: absolute;
        top: 50%;
        left: 10%;
        right: 10%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 5rem;
            font-size: clamp(6rem, 4rem + 5vw, 11rem);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: $gap;
            
            span {
                font-size: $font-size-xxxl;
            }
        }

        #date { 
            @extend h2;
            font-size: 16px;
            @media all and (min-width: 768px) { 
                font-size: 30px;
            } 
        }

        #place,
        #time { 
            @extend h3;
            font-weight: bold;
            display: block;
            margin-top: 20px;
            font-size: 12px;
            color: $color-0;
            span {
                font-size: 14px;
            }

            @media all and (min-width: 768px) { 
                font-size: 22px;

                span {
                    font-size: 30px;
                }
            } 
        }
    }
}


// SECTION INVITACION //

// SECTION FECHA //
section#fecha {
    color: $color-0;
    background-image: url("assets/img/fecha/video_bg_d.jpg");
    background-color: $color-1;

    .box {
        @media all and (min-width: 1200px) { flex: 0 1 60%; }

        .content {

            h1 { 
                margin-bottom: 5vh;
                color: $color-5;
            }
            video {
                width: 100%;
                height: auto;
            }
        }
    }
    

}

// SECTION LUGAR //
section#lugar {
    h1 { color: $color-3;} 
    
    .content {
        img.top-right {
            top: $deco-v-offset - 7vw;
            z-index: 10;
        }

        img.bottom-left { height: $deco-height; }

        p { 
            font-weight: bold;
            margin-top: 5vh;
        }
    }
}


// SECTION CUENTA

section#cuenta {
    background-image: url("assets/img/cuenta/cuenta_m.jpg");
    color: $color-0;

    @media all and (min-width: 1200px) { 
        background-image: url("assets/img/cuenta/cuenta_d.jpg");
     }

     .box {
        @media all and (min-width: 1200px) { flex: 0 1 60%; }

        .content {
            h1 { margin-bottom: 5vh; }
        }
    }
}

.countdown {
    display: inline-flex;
    border: solid 1px $color-0;
    border-radius: 50px;
    gap: 30px;
    padding: 10px 30px;

    .number {
        font-family: $font-4;
        font-size: $font-size-xl;
        font-weight: bold;
        color: $color-0;
    }

    .text {
        font-family: $font-4;
        font-size: 10px;
        color: $color-0;
        font-weight: bold;
    }
    
}

// SECTION CONFIRMA  //
section#confirma {
    color: $color-0;
    background-image: url("assets/img/confirma/confirma_m.jpg");
    background-color: $color-1;

    @media all and (min-width: 1200px) { 
        background-image: url("assets/img/confirma/confirma_d.jpg");
     }

    .box {
        @media all and (min-width: 1200px) { flex: 0 1 60%; }

        .content {
            p { padding: 0 20%;}
        }
    }
}

// SECTION MIRADA  //
section#playlist {
    color: $color-0;
    overflow: hidden;

    .box {
        @media all and (min-width: 1200px) { flex: 0 1 80%; }

        .content {
            h1, h2 { color: $color-3; }
            h2 { margin: 0; }
            
            p { 
                color: $color-0;
                line-height: 1.5;
            }
            .content-playbox {
                position: relative;

                .deco { position: absolute; }

                .deco.bottom-left {
                    width: 25vh;
                    bottom: 0;
                    left: 0;
                    transform: translate(-40%, 20%);
                }

                .deco.top-right {
                    width: 20vh;
                    top: 0;
                    right: 0;
                    transform: translate(60%, -30%);
                }
            
                .playbox {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    padding: 5vh;
                    gap: 3vw;
                    margin-top: 5vh;
                    background-color: $color-3;

                    > * { flex: 0 1 100%; }
                    @media all and (min-width: 1200px) { 
                        > * {flex: 0 1 45%; } 

                        > div {
                            text-align: left;
                            p { padding-right: 3vw;}
                        }
                    }
                }

            }
        }
    }
}

// SECTION MIRADA  //
section#mirada {
    color: $color-0;
    background-image: url("assets/img/mirada/mirada_m.jpg");
    background-color: $color-1;
    background-attachment: fixed;
   
    @media all and (min-width: 1200px) { 
        background-image: url("assets/img/mirada/mirada_d.jpg");
     }

    .box {
        @media all and (min-width: 1200px) { flex: 0 1 60%; }

        .content {
            p { padding: 0 10%;}
        }
    }
}



// SECTION ETIQUETA //
section#etiqueta {
    h1 { 
        color: $color-3;
        margin-bottom: -3vh;
    } 

    .box-1 {
        img.top-left {
            position: absolute;
            top: 0;
            left: 0;
            height: $deco-height + 5vh;
            width: auto;
            z-index: -1;
        }
    }
    
    .content {
          p { 
            margin-top: 2vh;
            //font-weight: bold;
        }
    }
}

