<nav [class.active]="expandir">

    <div class="head">
        <a class="logo" href="#keyvisual" (mouseup)="expandir = !expandir"  >
            <img src="assets/img/logo.svg" alt="Sara & Asaf">
        </a>
        <div class="toggle butterfly" [class.active]="expandir" (click)="expandir = !expandir" >
            <div class="center-line"></div>
        </div>
    </div>
    
    <div class="collapse" [class.active]="expandir" >

        <ul class="items">
            <li *ngFor="let item of $menuItems | async" >
                <a [routerLink]="[item.path]" 
                   routerLinkActive="active"
                   (click)="expandir = !expandir">{{item.name}}</a>
            </li>   
            <li>
                <a href="#invitacion" (mouseup)="expandir = !expandir">INVITACIÓN</a>
            </li>
            <li>
                <a href="#fecha" (mouseup)="expandir = !expandir">FECHA</a>
            </li>
            <li>
                <a href="#lugar" (mouseup)="expandir = !expandir">LUGAR</a>
            </li>
            <li>
                <a href="#playlist" (mouseup)="expandir = !expandir">PLAYLIST</a>
            </li>
            <li>
                <a href="#invitacion" (mouseup)="expandir = !expandir">TU MIRADA</a>
            </li>
            <li>
                <a href="#etiqueta" (mouseup)="expandir = !expandir">ETIQUETA</a>
            </li>
            <li>
                <a href="#regalos" (mouseup)="expandir = !expandir">LISTA DE REGALOS</a>
            </li>
            <li class="special-item">
                <a href="#confirma" (mouseup)="expandir = !expandir">CONFIRMA TU ASISTENCIA</a>
            </li>
 
        </ul>

        <ul class="social">
            
        </ul>

    </div>
</nav>
